#slices {
    overflow: hidden;
}

div#coronal.slice-box{
  float: left;
}

div#sagittal.slice-box{
    float:left
}
div#axial.slice-box {
    clear:both;
    float: left;
}

.slice-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-box{
    float: left;
    overflow:hidden;
    background-color: gray;
    position: relative;
}