#slices {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.slice-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-box{
    float: left;
    overflow:scroll;
    background-color: gray;
    position: relative;
}