<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>DICOM viewer</title>
    <link rel="stylesheet" href='{{ url_for('static',filename='style.css') }}'>
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>


<div id="app">
    <component is="slices" :planes="planes"></component>
</div>


<template id="slices-templ">
    <div>
        <div>
            <input id="canvas_box_size-slider'" type="range" v-model="canvas_box_size"
                   min="300"
                   max="1200"/>
            <component is="colorSelector" @colorchange="changeColor"></component>
        </div>
        <div id="slices">
            <component is="slice" v-for="plane in planes" :key="plane.id" :plane="plane"
                       :canvas_box_size="canvas_box_size" :color="color">
            </component>
        </div>
    </div>
</template>

<template id="slice-templ">
    <div :id="plane.name" class="slice-box">

        <div class="canvas-box" :style="{ width: canvas_box_size + 'px', height: canvas_box_size + 'px'}">
            <canvas :id="plane.name + '-image'"
                    style="position: absolute; left: 0; top: 0; z-index: 0;"
                    :height="scaled_height + 'px'"
                    :width="scaled_width + 'px'">
            </canvas>
            <canvas :id="plane.name + '-planeLines'"
                    style="position: absolute; left: 0; top: 0; z-index: 0;"
                    :height="scaled_height + 'px'"
                    :width="scaled_width + 'px'"
                    @mousemove="get_coordinates"
                    @click="getSlice"
                    v-show="!draw_enabled">
            </canvas>
            <canvas id="display-canv"
                    v-if="plane.name=='axial'"
                    style="position: absolute; left: 0; top: 0; z-index: 0;"
                    :height="scaled_height + 'px'"
                    :width="scaled_width + 'px'"
                    v-show="draw_enabled">
            </canvas>
            <component is="segmentation"
                       v-if="plane.name=='axial'"
                       v-for="z in 5" :key="z"
                       :plane-name="plane.name"
                       :scaled-height="scaled_height" :scaled-width="scaled_width"
                       :zoom="zoom" :z="z"
                       :display-canvas="display_canv"
                       :color="color" :draw-enabled="draw_enabled">
            </component>
        </div>
        <span>slice number: ${slice_number}</span>
        <input :id="plane.name + '-slider'" type="range" v-model="slice_number"
               min="0"
               :max="plane.z"/>
        <span>zoom: ${zoom}</span>
        <input id="canvas_size-slider'" type="range" v-model="scaled_height"
               :min="plane.y"
               :max="plane.y*3"
               :step="plane.y/2"/>
        <input type="checkbox" id="enableDrawing-checkbox"
               v-if="plane.name=='axial'" v-model="draw_enabled">
        <label for="enableDrawing-checkbox">drawing is enabled: ${draw_enabled}</label>
    </div>
</template>

<template id="segmentation-template">
    <canvas v-show="display && drawEnabled" :id="planeName + '-segmentation'+z"
            style="position: absolute; left: 0; top: 0;"
            :z-index="z"
            @mousemove="get_coordinates"
            @mousedown="startDraw"
            @mouseup="endDraw">
    </canvas>
</template>

<template id="color-selector-template">
    <div>
        <template v-for="(color, index) in colors">
            <input type="radio" :id="color.colorName+'-radio'"
                   :value="color.colorName" v-model="pickedColor" :key="index">
            <component is="colorElem" :color="color" :key="index"></component>
            <span :key="index">${color.label}</span>
            <button @click="removeColor(index)" :key="index">X</button>
        </template>
    </div>
</template>

<template id="color-template">
    <canvas :id="color.colorName+'-canv'" width="10px" height="10px"></canvas>
</template>

<script>


    var color_component = {
        template: '#color-template',
        delimiters: ['${', '}'],
        props: ['color'],
        data() {
            return {
                'canv': null,
                'ctx': null
            }
        },
        mounted() {
            this.canv = document.getElementById(this.color.colorName + "-canv")
            this.ctx = this.canv.getContext("2d")
            this.ctx.fillStyle = this.color.colorName
            this.ctx.fillRect(0, 0, 10, 10)
        },
        watch: {
            color() {
                this.ctx.fillStyle = this.color.colorName
                this.ctx.fillRect(0, 0, 10, 10)
            }
        }
    }

    var colorSelector = {
        name: 'colorSelector',
        template: '#color-selector-template',
        delimiters: ['${', '}'],
        data() {
            return {
                colors: [
                    {
                        'colorName': "yellow",
                        'label': "spleen",
                        'colorRGB': null
                    },
                    {
                        'colorName': "red",
                        'label': "heart",
                        'colorRGB': null
                    },
                    {
                        'colorName': "green",
                        'label': "liver",
                        'colorRGB': null
                    }
                ],
                'pickedColor': ""
            }
        },
        components: {
            'colorElem': color_component
        },
        methods: {
            addNewColor() {
            },
            removeColor(index) {
                if (this.colors[index].colorName == this.pickedColor) {
                    this.pickedColor = ''
                }
                this.colors.splice(index, 1)
            }
        },
        watch: {
            pickedColor() {
                this.$emit('colorchange', this.pickedColor)
            }
        }
    }

    var segmentationBus = new Vue()

    var segmentation_component = {
        template: '#segmentation-template',
        delimiters: ['${', '}'],
        props: ['displayCanvas', 'drawEnabled', 'planeName', 'scaledWidth', 'scaledHeight', 'zoom', 'z', 'color'],
        data() {
            return {
                'segm_canv': null,
                'segm_ctx': null,
                'cursor': {
                    x: 0,
                    y: 0
                },
                'drawing': false
            }
        },
        computed: {
            zoomLevel() {
                return this.zoom * 2 - 1
            },
            display() {
                return this.zoomLevel == this.z
            },
            colorPicked() {
                return this.color != '' && this.color != undefined
            },
            enableSegmentation() {
                return this.drawEnabled && this.colorPicked && this.drawing
            }
        },
        mounted() {
            this.segm_canv = document.getElementById(this.planeName + '-segmentation' + this.z)
            this.segm_canv.width = this.scaledWidth * (this.z + 1) / 2
            this.segm_canv.height = this.scaledHeight * (this.z + 1) / 2

            this.segm_ctx = this.segm_canv.getContext("2d")
            this.segm_ctx.globalAlpha = 0.3

            var self = this
            segmentationBus.$on('scaling', function (image) {
                if (self.display) {
                    let ctx = self.displayCanvas.getContext("2d")
                    ctx.imageSmoothingEnabled = false
                    ctx.mozImageSmoothingEnabled = false
                    ctx.webkitImageSmoothingEnabled = false
                    ctx.msImageSmoothingEnabled = false
                    ctx.drawImage(image, 0, 0, self.segm_canv.width, self.segm_canv.height)
                }
            })
        },
        methods: {
            get_coordinates(event) {
                {#let rect = this.canvas.getBoundingClientRect();
                console.log("x: %d, y: %d", event.clientX- rect.left, event.clientY- rect.top)#}
                this.cursor = {
                    x: event.layerX,
                    y: event.layerY
                }
            },
            startDraw() {
                if (this.colorPicked) {
                    this.segm_ctx.beginPath()
                    this.segm_ctx.moveTo(this.cursor.x, this.cursor.y)
                    this.drawing = true
                }
            },
            endDraw() {
                if (this.colorPicked) {
                    this.segm_ctx.fill()
                    this.drawing = false
                }
            }
        },
        watch: {
            cursor() {
                if (this.enableSegmentation) {
                    this.segm_ctx.lineTo(this.cursor.x, this.cursor.y)
                    this.segm_ctx.stroke()
                }
            },
            zoomLevel() {
                if (this.drawEnabled && !this.display) {
                    let image = cloneCanvas(this.segm_canv)
                    segmentationBus.$emit('scaling', image)
                }
            },
            color() {
                this.segm_ctx.strokeStyle = this.color
                this.segm_ctx.fillStyle = this.color
            }
        }
    }

    function cloneCanvas(oldCanvas) {

        //create a new canvas
        let newCanvas = document.createElement('canvas')
        let context = newCanvas.getContext('2d')

        //set dimensions
        newCanvas.width = oldCanvas.width
        newCanvas.height = oldCanvas.height

        //apply the old canvas to the new one
        context.drawImage(oldCanvas, 0, 0);

        //return the new canvas
        return newCanvas;
    }

    var slicesBus = new Vue()

    var slice_component = {
        template: '#slice-templ',
        delimiters: ['${', '}'],
        props: ['plane', 'canvas_box_size', 'color'],
        data() {
            return {
                'slice_number': 0,
                'image_url': null,
                'canvas': null,
                'display_canv': null,
                'ctx': null,
                'scaled_height': this.plane.y,
                'draw_enabled': false,
                'cursor': {
                    'x': 0,
                    'y': 0
                },
                'planelines_canv': null,
                'plane_line_x':0,
                'plane_line_y':0
            }
        },
        components: {
            'segmentation': segmentation_component
        },
        computed: {
            zoom() {
                return this.scaled_height / this.plane.y
            },
            scaled_width() {
                let scaled_width = Math.floor(this.plane.x * this.plane.ratio * this.zoom)
                return scaled_width
            }
        },
        mounted() {
            this.canvas = document.getElementById(this.plane.name + '-image')
            this.ctx = this.canvas.getContext("2d")

            this.display_canv = document.getElementById("display-canv")
            this.display_canv.style.imageRendering = 'pixelated'
            this.display_canv.getContext("2d").globalAlpha = 0.3

            this.planelines_canv = document.getElementById(this.plane.name + '-planeLines')
            let context = this.planelines_canv.getContext("2d")

            slicesBus.$on('changeSlice', this.changeSlice)
            slicesBus.$on('sliceChanged', this.displayPlaneLines)

            this.slice_number = Math.floor(this.plane.z / 2)
        },
        updated(){
            this.drawPlaneLines()
        },
        methods: {
            get_coordinates(event) {
                this.cursor = {
                    x: event.layerX,
                    y: event.layerY
                }
            },
            getSlice() {
                let x = Math.floor(this.cursor.x / (this.zoom * this.plane.ratio))
                let y = this.plane.y - Math.floor(this.cursor.y / (this.zoom)) - 1
                slicesBus.$emit('changeSlice', this.plane.name, x, y)
            },
            changeSlice(planeName, x, y) {
                if (planeName != this.plane.name) {
                    if (this.plane.name == 'sagittal') {
                        this.slice_number = x
                    }
                    else if (this.plane.name == 'coronal' && planeName == 'sagittal') {
                        this.slice_number = this.plane.x - x - 1
                    }
                    else {
                        this.slice_number = y
                    }
                }
            },
            fetch_slice() {
                var self = this
                fetch(`api/0/stored_dicom/get_slice/${this.plane.name}/${this.slice_number}`)
                    .then((res) => {
                        if (!res.ok) {
                            console.warn(res)
                            return
                        }
                        return res.blob();
                    })
                    .then(function (myBlob) {
                        let objectURL = URL.createObjectURL(myBlob)
                        self.image_url = objectURL
                        self.loadImage()
                    })
                    .catch((err) => {
                        console.warn(err)
                    })
            },
            displayPlaneLines(planeName, sliceNum) {
                if(planeName==this.plane.name) return
                let sliceNumInt = parseInt(sliceNum)
                if (planeName == 'sagittal') {
                    this.plane_line_x = sliceNumInt
                }
                else if (planeName == 'coronal' && this.plane.name == 'sagittal') {
                    this.plane_line_x = this.plane.x - sliceNumInt -1
                }
                else {
                    this.plane_line_y = this.plane.y - sliceNumInt -1
                }
            },
            loadImage(){
                let img = new Image();
                let self = this
                img.onload = function () {
                    self.ctx.drawImage(img, 0, 0, self.scaled_width, self.scaled_height)
                }
                img.src = this.image_url
            },
            drawPlaneLines(){
                let x, y = 0
                let xTo, yTo= 0
                let context = this.planelines_canv.getContext("2d")
                context.clearRect(0, 0, this.scaled_width, this.scaled_height)
                context.strokeStyle = "yellow"
                context.beginPath()

                x = this.plane_line_x * (this.zoom * this.plane.ratio)
                xTo = x
                yTo = this.scaled_height

                context.moveTo(x,y)
                context.lineTo(xTo, yTo)
                context.stroke()

                y = this.plane_line_y * this.zoom
                yTo = y
                x = 0
                xTo = this.scaled_width

                context.moveTo(x,y)
                context.lineTo(xTo, yTo)
                context.stroke()
            }
        },
        watch: {
            slice_number() {
                this.fetch_slice()
                slicesBus.$emit('sliceChanged', this.plane.name, this.slice_number)
            },
            scaled_width() {
                this.loadImage()
            },
            plane_line_x(){
                this.drawPlaneLines()
            },
            plane_line_y(){
                this.drawPlaneLines()
            },
            cursor() {
            }
        }
    }

    var slices_component = {
        template: '#slices-templ',
        delimiters: ['${', '}'],
        props: ['planes'],
        components: {
            'slice': slice_component,
            'colorSelector': colorSelector
        },
        data() {
            return {
                'canvas_box_size': 700,
                'color': ''
            }
        },
        methods: {
            changeColor(colorName) {
                this.color = colorName
            }
        }

    }

    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            planes: [
                {
                    id: 0,
                    name: 'axial',
                    z: {{ session['dimension'][0] - 1}},
                    x: {{ session['dimension'][1]}},
                    y: {{ session['dimension'][2]}},
                    ratio: {{ session['ratios'][0] }}
                },
                {
                    id: 2,
                    name: 'sagittal',
                    z: {{ session['dimension'][2] - 1}},
                    x: {{ session['dimension'][2]}},
                    y: {{ session['dimension'][0]}},
                    ratio: {{ session['ratios'][2] }}

                },
                {
                    id: 1,
                    name: 'coronal',
                    z: {{ session['dimension'][1] - 1}},
                    x: {{ session['dimension'][1]}},
                    y: {{ session['dimension'][0]}},
                    ratio: {{ session['ratios'][1] }}
                }
            ]
        },
        components: {
            'slices': slices_component
        }
    })


</script>

</body>
</html>