<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>DICOM viewer</title>
    <link rel="stylesheet" href='{{ url_for('static',filename='style.css') }}'>
    <script src="{{ url_for('static', filename='vue.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>


<div id="app">
    <component is="slices" :planes="planes"></component>
</div>


<template id="slices-templ">
    <div>
        <div>
            <input id="canvas_box_size-slider'" type="range" v-model="canvas_box_size"
                   min="300"
                   max="1200"/>
            <button id="saveSegmentation" @click="saveSegmentation"> Save Segmentation Permanently </button>
            <component is="colorSelector" @colorchange="changeColor"></component>
        </div>
        <div id="slices">
            <component is="slice" v-for="plane in planes" :key="plane.id" :plane="plane"
                       :canvas_box_size="canvas_box_size" :color="color">
            </component>
        </div>
    </div>
</template>

<template id="slice-templ">
    <div :id="plane.name" class="slice-box">

        <div class="canvas-box" :style="{ width: canvas_box_size + 'px', height: canvas_box_size + 'px'}">
            <canvas :id="plane.name + '-image'"
                    style="position: absolute; left: 0; top: 0; z-index: 0;"
                    :height="scaled_height + 'px'"
                    :width="scaled_width + 'px'">
            </canvas>
            <canvas :id="'display-segm-'+plane.name"
                    style="position: absolute; left: 0; top: 0; z-index: 0;"
                    :height="scaled_height + 'px'"
                    :width="scaled_width + 'px'">
            </canvas>
            <canvas :id="plane.name + '-planeLines'"
                    style="position: absolute; left: 0; top: 0; z-index: 0;"
                    :height="scaled_height + 'px'"
                    :width="scaled_width + 'px'"
                    @mousemove="get_coordinates"
                    @click="getSlice"
                    v-show="!draw_enabled">
            </canvas>
            <component is="segmentation"
                       v-for="z in 5" :key="z"
                       :plane-name="plane.name"
                       :plane-x="plane.x"
                       :scaled-height="scaled_height" :scaled-width="scaled_width"
                       :zoom="zoom" :z="z"
                       :display-canvas="display_canv"
                       :color="color" :draw-enabled="draw_enabled"
                       :slice-number="slice_number">
            </component>
        </div>
        <span>slice number:<input :id="plane.name + '-sliceNumberInput'" type="number" v-model="slice_number"/></span>
        <input :id="plane.name + '-sliceNumberSlider'" type="range" v-model="slice_number"
               min="0"
               :max="plane.z"/>
        <span>zoom: ${zoom}</span>
        <input :id="plane.name+'-zoomSlider'" type="range" v-model="scaled_height"
               :min="plane.y"
               :max="plane.y*3"
               :step="plane.y/2"/>
        <input type="checkbox" :id="plane.name+'-enableDrawing'"
               v-model="draw_enabled">
        <label for="enableDrawing-checkbox">drawing is enabled: ${draw_enabled}</label>
    </div>
</template>

<template id="segmentation-template">
    <canvas v-show="display && drawEnabled" :id="planeName + '-segmentation'+z"
            style="position: absolute; left: 0; top: 0;"
            :z-index="z"
            @mousemove="get_coordinates"
            @mousedown="startDraw"
            @mouseup="endDraw">
    </canvas>
</template>

<template id="color-selector-template">
    <div>
        <template v-for="(color, index) in colors">
            <input type="radio" :id="color.colorName+'-radio'"
                   :value="color.colorName" v-model="pickedColorName" :key="index">
            <component is="colorElem" :color="color" :key="index"></component>
            <span :key="index">${color.label}</span>
            <button v-if="color.colorName!='transparent'" @click="removeColor(index)" :key="index">DEL</button>
        </template>
    </div>
</template>

<template id="color-template">
    <canvas :id="color.colorName+'-canv'" width="10px" height="10px" style="border:1px solid #000000;"></canvas>
</template>

<script>


    var color_component = {
        template: '#color-template',
        delimiters: ['${', '}'],
        props: ['color'],
        data() {
            return {
                'canv': null,
                'ctx': null
            }
        },
        mounted() {
            this.canv = document.getElementById(this.color.colorName + "-canv")
            this.ctx = this.canv.getContext("2d")
            this.ctx.fillStyle = this.color.colorRGBA
            this.ctx.fillRect(0, 0, 10, 10)
        },
        watch: {
            color() {
                this.ctx.fillStyle = this.color.colorRGBA
                this.ctx.fillRect(0, 0, 10, 10)
            }
        }
    }

    var colorSelector = {
        name: 'colorSelector',
        template: '#color-selector-template',
        delimiters: ['${', '}'],
        data() {
            return {
                colors: [
                    {
                        'colorName': "yellow",
                        'label': "spleen",
                        'colorRGBA': 'rgba(255, 200, 0, 1)'
                    },
                    {
                        'colorName': "red",
                        'label': "heart",
                        'colorRGBA': 'rgba(255, 0, 0, 1)'
                    },
                    {
                        'colorName': "green",
                        'label': "liver",
                        'colorRGBA': 'rgba(0, 255, 0, 1)'
                    },
                    {
                        'colorName': "transparent",
                        'label': "erase color",
                        'colorRGBA': 'rgba(255, 255, 255, 1)'
                    }
                ],
                'pickedColorName': '',
                'pickedColorRGBA': ''
            }
        },
        components: {
            'colorElem': color_component
        },
        methods: {
            addNewColor() {
            },
            removeColor(index) {
                if (this.colors[index].colorName == this.pickedColorName) {
                    this.pickedColorName = ''
                    this.pickedColorRGBA = ''
                }
                this.colors.splice(index, 1)
            }
        },
        watch: {
            pickedColorName() {
                let self = this
                this.pickedColorRGBA = $.grep(this.colors,  function (color) {
                    return color.colorName == self.pickedColorName
                })[0].colorRGBA
                this.$emit('colorchange', this.pickedColorRGBA)
            }
        }
    }

    var segmentationBus = new Vue()

    var segmentation_component = {
        template: '#segmentation-template',
        delimiters: ['${', '}'],
        props: ['displayCanvas', 'drawEnabled', 'planeName', 'planeX', 'scaledWidth', 'scaledHeight',
            'sliceNumber', 'zoom', 'z', 'color'],
        data() {
            return {
                'segm_canv': null,
                'segm_ctx': null,
                'cursor': {
                    x: 0,
                    y: 0
                },
                'drawing': false,
                'savedImages': 0,
                'prevSliceNumber': this.sliceNumber,
                'drawNotSaved' : false,
                'tempCanv': null
            }
        },
        computed: {
            zoomLevel() {
                return this.zoom * 2 - 1
            },
            display() {
                return this.zoomLevel == this.z
            },
            colorPicked() {
                return this.color != '' && this.color != undefined
            },
            enableSegmentation() {
                return this.drawEnabled && this.colorPicked && this.drawing
            }
        },
        mounted() {
            this.segm_canv = document.getElementById(this.planeName + '-segmentation' + this.z)
            this.segm_canv.width = this.scaledWidth * (this.z + 1) / 2
            this.segm_canv.height = this.scaledHeight * (this.z + 1) / 2
            this.segm_canv.style.imageRendering = 'pixelated'

            this.segm_ctx = this.segm_canv.getContext("2d")
            this.segm_ctx.imageSmoothingEnabled = false
            this.segm_ctx.mozImageSmoothingEnabled = false
            this.segm_ctx.webkitImageSmoothingEnabled = false
            this.segm_ctx.msImageSmoothingEnabled = false

            let self = this
            segmentationBus.$on('scaling', function (planeName, image) {
                if (self.display && self.planeName == planeName) {
                    let ctx = self.displayCanvas.getContext("2d")
                    ctx.drawImage(image, 0, 0, self.scaledWidth, self.scaledHeight)
                }
            })

            if(this.z==1){
                segmentationBus.$on('sendDrawtoSave', this.postSegmImage)
            }

            segmentationBus.$on('drawNotSaved', function(planeName, saved){
                if(self.planeName == planeName)
                    self.drawNotSaved = saved
            })
        },
        beforeUpdate(){
        },
        methods: {
            get_coordinates(event) {
                {#let rect = this.canvas.getBoundingClientRect();
                console.log("x: %d, y: %d", event.clientX- rect.left, event.clientY- rect.top)#}
                this.cursor = {
                    x: event.layerX,
                    y: event.layerY
                }
            },
            startDraw() {
                if (this.colorPicked) {
                    this.tempCanv = cloneCanvas(this.segm_canv)
                    this.segm_ctx.beginPath()
                    this.segm_ctx.moveTo(this.cursor.x, this.cursor.y)
                    this.drawing = true
                    this.drawNotSaved = true
                }
            },
            endDraw() {
                if (this.colorPicked) {
                    this.segm_ctx.fill()
                    if(this.color != 'rgba(255, 255, 255, 1)'){
                        let image = cloneCanvas(this.segm_canv)
                        this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                        this.segm_ctx.globalAlpha = 1
                        this.segm_ctx.drawImage(this.tempCanv, 0, 0, this.segm_canv.width, this.segm_canv.height)
                        this.segm_ctx.drawImage(image, 0, 0, this.segm_canv.width, this.segm_canv.height)
                        image = cloneCanvas(this.segm_canv)
                        this.segm_ctx.globalAlpha = 0.7
                        this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                        this.segm_ctx.drawImage(image, 0, 0, this.segm_canv.width, this.segm_canv.height)
                        this.segm_ctx.globalAlpha = 1
                    }
                    this.drawing = false
                }
            },
            postSegmImage(planeName, image){
                if(planeName != this.planeName) return
                this.segm_ctx.drawImage(image, 0, 0, this.segm_canv.width, this.segm_canv.height)
                this.savedImages++
                if(this.savedImages==4){
                    let dataUrl
                    if(this.segm_canv.width != this.planeX){
                        let newCanvas = document.createElement('canvas')
                        let context = newCanvas.getContext('2d')
                        newCanvas.width = this.planeX
                        newCanvas.height = this.segm_canv.height
                        context.drawImage(this.segm_canv, 0, 0, newCanvas.width, newCanvas.height)
                        dataUrl = newCanvas.toDataURL();
                    }
                    else
                        dataUrl = this.segm_canv.toDataURL();

                    let self = this
                    $.post(`/api/0/segmentation/push_segm_image/${this.planeName}/${this.prevSliceNumber}`, {
                        imgBase64: dataUrl
                    }, function (data, status) {
                        console.log("Data: " + data + "\nStatus: " + status)
                    })
                    this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                    let ctx = this.displayCanvas.getContext("2d")
                    ctx.clearRect(0, 0, this.displayCanvas.width, this.displayCanvas.height)
                    this.savedImages = 0
                    this.drawNotSaved = false
                    this.prevSliceNumber = this.sliceNumber
                    if(this.drawEnabled)
                        this.fetchSegmImage()
                }
            },
            fetchSegmImage() {
                if(this.z!=1) return
                let self = this
                fetch(`api/0/stored_dicom/get_segm_image/${this.planeName}/${this.sliceNumber}`)
                    .then((res) => {
                        if (!res.ok) {
                            console.warn(res)
                            return
                        }
                        return res.blob();
                    })
                    .then(function (myBlob) {
                        let objectURL = URL.createObjectURL(myBlob)
                        self.loadSegmImage(objectURL)
                    })
                    .catch((err) => {
                        console.warn(err)
                    })
            },
            loadSegmImage(url) {
                let img = new Image();
                let self = this
                this.segm_ctx.globalCompositeOperation="source-over"
                img.onload = function () {
                    self.segm_ctx.drawImage(img, 0, 0, self.segm_canv.width, self.segm_canv.height)
                    if(self.color =='rgba(255, 255, 255, 1)')
                        self.segm_ctx.globalCompositeOperation="destination-out"
                    else
                        self.segm_ctx.globalCompositeOperation="source-over"
                }
                img.src = url
            }
        },
        watch: {
            cursor() {
                if (this.enableSegmentation) {
                    this.segm_ctx.lineTo(this.cursor.x, this.cursor.y)
                    this.segm_ctx.stroke()
                }
            },
            zoomLevel() {
                if (this.drawEnabled && !this.display) {
                    let image = cloneCanvas(this.segm_canv)
                    segmentationBus.$emit('scaling', this.planeName, image)
                }
            },
            color() {
                if(this.color =='rgba(255, 255, 255, 1)')
                    this.segm_ctx.globalCompositeOperation="destination-out"
                else
                    this.segm_ctx.globalCompositeOperation="source-over"
                this.segm_ctx.strokeStyle = this.color
                this.segm_ctx.fillStyle = this.color
            },
            sliceNumber() {
                 if (this.z != 1 && this.drawNotSaved) {
                     let image = cloneCanvas(this.segm_canv)
                     segmentationBus.$emit('sendDrawtoSave', this.planeName, image)
                     this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                     this.prevSliceNumber = this.sliceNumber
                 }
                 if(!this.drawNotSaved){
                     this.prevSliceNumber = this.sliceNumber
                     if(this.drawEnabled){
                         this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                         this.fetchSegmImage()
                     }
                 }
            },
            drawEnabled(){
                if(!this.drawEnabled && this.z != 1 && this.drawNotSaved){
                     let image = cloneCanvas(this.segm_canv)
                     segmentationBus.$emit('sendDrawtoSave', this.planeName, image)
                     this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                }
                if(this.drawEnabled) {
                    this.segm_ctx.clearRect(0, 0, this.segm_canv.width, this.segm_canv.height)
                    this.fetchSegmImage()
                }
            },
            drawNotSaved(){
                segmentationBus.$emit('drawNotSaved', this.planeName, this.drawNotSaved)
            }
        }
    }

    function cloneCanvas(oldCanvas) {

        //create a new canvas
        let newCanvas = document.createElement('canvas')
        let context = newCanvas.getContext('2d')

        //set dimensions
        newCanvas.width = oldCanvas.width
        newCanvas.height = oldCanvas.height

        //apply the old canvas to the new one
        context.drawImage(oldCanvas, 0, 0);

        //return the new canvas
        return newCanvas;
    }

    var slicesBus = new Vue()

    var slice_component = {
        template: '#slice-templ',
        delimiters: ['${', '}'],
        props: ['plane', 'canvas_box_size', 'color'],
        data() {
            return {
                'slice_number': 0,
                'image_url': '',
                'segm_image_url': '',
                'canvas': null,
                'display_canv': null,
                'ctx': null,
                'scaled_height': this.plane.y,
                'draw_enabled': false,
                'cursor': {
                    'x': 0,
                    'y': 0
                },
                'planelines_canv': null,
                'plane_line_x': 0,
                'plane_line_y': 0
            }
        },
        components: {
            'segmentation': segmentation_component
        },
        computed: {
            zoom() {
                return this.scaled_height / this.plane.y
            },
            scaled_width() {
                let scaled_width = Math.floor(this.plane.x * this.plane.ratio * this.zoom)
                return scaled_width
            }
        },
        mounted() {
            this.canvas = document.getElementById(this.plane.name + '-image')
            this.ctx = this.canvas.getContext("2d")

            this.display_canv = document.getElementById("display-segm-"+this.plane.name)
            this.display_canv.style.imageRendering = 'pixelated'
            let ctx = this.display_canv.getContext("2d")
            ctx.imageSmoothingEnabled = false
            ctx.mozImageSmoothingEnabled = false
            ctx.webkitImageSmoothingEnabled = false
            ctx.msImageSmoothingEnabled = false

            this.planelines_canv = document.getElementById(this.plane.name + '-planeLines')
            let context = this.planelines_canv.getContext("2d")

            slicesBus.$on('changeSlice', this.changeSlice)
            slicesBus.$on('sliceChanged', this.updatePlaneLinesCoord)
            let self = this
            slicesBus.$on('drawEnabled', function(planeName){
                if(self.plane.name!=planeName)
                    self.draw_enabled = false
            })

            this.slice_number = Math.floor(this.plane.z / 2)
        },
        updated() {
            this.drawPlaneLines()
        },
        methods: {
            get_coordinates(event) {
                this.cursor = {
                    x: event.layerX,
                    y: event.layerY
                }
            },
            getSlice() {
                let x = Math.floor(this.cursor.x / (this.zoom * this.plane.ratio))
                let y = this.plane.y - Math.floor(this.cursor.y / (this.zoom)) - 1
                slicesBus.$emit('changeSlice', this.plane.name, x, y)
            },
            changeSlice(planeName, x, y) {
                if (planeName != this.plane.name) {
                    if (this.plane.name == 'sagittal') {
                        if (planeName == 'coronal') {
                            this.slice_number = this.plane.x - x - 1
                        }
                        else {
                            this.slice_number = x
                        }
                    }
                    else if (this.plane.name == 'coronal' && planeName == 'sagittal') {
                        this.slice_number = this.plane.x - x - 1
                    }
                    else {
                        this.slice_number = y
                    }
                }
            },
            fetch_slice() {
                var self = this
                fetch(`api/0/stored_dicom/get_slice/${this.plane.name}/${this.slice_number}`)
                    .then((res) => {
                        if (!res.ok) {
                            console.warn(res)
                            return
                        }
                        return res.blob();
                    })
                    .then(function (myBlob) {
                        let objectURL = URL.createObjectURL(myBlob)
                        self.image_url = objectURL
                        self.loadImage()
                    })
                    .catch((err) => {
                        console.warn(err)
                    })
            },
            loadImage() {
                let img = new Image();
                let self = this
                img.onload = function () {
                    self.ctx.drawImage(img, 0, 0, self.scaled_width, self.scaled_height)
                }
                img.src = this.image_url
            },
            updatePlaneLinesCoord(planeName, sliceNum) {
                if (planeName == this.plane.name) return
                let sliceNumInt = parseInt(sliceNum)
                if (planeName == 'sagittal') {
                    if (this.plane.name == "coronal") {
                        this.plane_line_x = this.plane.x - sliceNumInt - 1
                    }
                    else {
                        this.plane_line_x = sliceNumInt
                    }
                }
                else if (planeName == 'coronal' && this.plane.name == 'sagittal') {
                    this.plane_line_x = this.plane.x - sliceNumInt - 1
                }
                else {
                    this.plane_line_y = this.plane.y - sliceNumInt - 1
                }
            },
            drawPlaneLines() {
                let x, y = 0
                let xTo, yTo = 0
                let context = this.planelines_canv.getContext("2d")
                context.clearRect(0, 0, this.scaled_width, this.scaled_height)
                context.strokeStyle = "yellow"
                context.beginPath()

                x = this.plane_line_x * (this.zoom * this.plane.ratio)
                xTo = x
                yTo = this.scaled_height

                context.moveTo(x, y)
                context.lineTo(xTo, yTo)
                context.stroke()

                y = this.plane_line_y * this.zoom
                yTo = y
                x = 0
                xTo = this.scaled_width

                context.moveTo(x, y)
                context.lineTo(xTo, yTo)
                context.stroke()
            }
        },
        watch: {
            slice_number() {
                this.fetch_slice()
                slicesBus.$emit('sliceChanged', this.plane.name, this.slice_number)
            },
            scaled_width() {
                this.loadImage()
            },
            plane_line_x() {
                if(!this.draw_enabled)
                    this.drawPlaneLines()
            },
            plane_line_y() {
                if(!this.draw_enabled)
                    this.drawPlaneLines()
            },
            cursor() {
            },
            draw_enabled(){
                if(!this.draw_enabled){
                    this.drawPlaneLines()
                }
                if(this.draw_enabled){
                    slicesBus.$emit('drawEnabled', this.plane.name)
                }
            }
        }
    }

    var slices_component = {
        template: '#slices-templ',
        delimiters: ['${', '}'],
        props: ['planes'],
        components: {
            'slice': slice_component,
            'colorSelector': colorSelector
        },
        data() {
            return {
                'canvas_box_size': 700,
                'color': ''
            }
        },
        methods: {
            changeColor(color) {
                this.color = color
            },
            saveSegmentation(){
                let self = this
                $.post('/api/0/segmentation/saveToDisk', {},
                    function (data, status) {
                    alert(status + ": "+ data)
                })
            }
        }

    }

    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            planes: [
                {
                    id: 0,
                    name: 'axial',
                    z: {{ session['dimension'][0] - 1}},
                    x: {{ session['dimension'][1]}},
                    y: {{ session['dimension'][2]}},
                    ratio: {{ session['ratios'][0] }}
                },
                {
                    id: 2,
                    name: 'sagittal',
                    z: {{ session['dimension'][2] - 1}},
                    x: {{ session['dimension'][2]}},
                    y: {{ session['dimension'][0]}},
                    ratio: {{ session['ratios'][2] }}

                },
                {
                    id: 1,
                    name: 'coronal',
                    z: {{ session['dimension'][1] - 1}},
                    x: {{ session['dimension'][1]}},
                    y: {{ session['dimension'][0]}},
                    ratio: {{ session['ratios'][1] }}
                }
            ]
        },
        components: {
            'slices': slices_component
        }
    })


</script>

</body>
</html>